@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Playwrite+HR+Guides&family=Yellowtail&display=swap');

.mainAction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 0 1rem 0;
}

.mainText {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainText h1 {
	color: #c80000;
	font-family: Oleo Script;
	font-size: 2.5rem;
	margin: 0;
	font-weight: bolder;
	padding: 0 1rem 0 1rem;
}

.mainText p {
	font-size: 2.5rem;
	margin-top: 0;
	font-weight: bolder;
	margin-bottom: 1rem;
	padding: 0 2rem 0 2rem;
	text-align: center;
}

#normalText {
	font-size: 1.2rem;
	font-weight: 300;
}

@media screen and (width < 580px){
	.mainText h1 {
		font-size: 2rem;
	}

	.mainText p {
		font-size: 2rem;
	}

	#normalText {
		font-size: 1.2rem;
	}
}
