.baseStyle {
	display: "flex";
	flex-direction: "column";
	align-items: "center";
	padding: "20px";
	border-width: 2;
	border-radius: 2;
	border-color: "#eeeeee";
	border-style: "dashed";
	background-color: "#fafafa";
	color: "#bdbdbd";
	transition: "border .3s ease-in-out";
}

.activeStyle {
	border-color: #2196f3;
}

.acceptStyle {
	border-color: #00e676;
}

.rejectStyle {
	border-color: #ff1744;
}

.dropZone {
	width: calc(min(25rem, 70vw));
	height: calc(max(10rem, 30vh));
	display: flex;
    justify-content: center;
}

.backImage {
	width: 100%;
	height: 100%;

	opacity: 0.15;

	background-image: url("../../assets/icons/load_images.svg");
	background-repeat: no-repeat;
    background-position: center;
	&:hover {
		cursor: pointer;
	}
}

.dropZone_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	position: relative;
}

.dropZone_notice {
	position: absolute;
	top: 80%;
	left: 0;
	width: calc(min(25rem, 70vw));

	/* outline: 1px solid rgba(71, 71, 71, 0.212); */
	padding: 0.25rem;
	border-radius: 1rem;
}

.dropZone_notice p {
	text-align: center;
	margin: 0;
}

.fileList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
	min-height: 3rem;

    padding: 0;
}

.fileList li {
    list-style-type: none;
}

@media screen and (width < 580px) {
	.backImage {
		display: flex;
        width: 100%;

		opacity: 0.15;

		background-image: url("../../assets/icons/add_images.svg");
		background-repeat: no-repeat;
		&:hover {
			cursor: pointer;
		}
	}
}
