.footbar {
    display: flex;
    justify-content: space-between;

    width: calc(100% - 1rem);
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 1.5rem;

    border-top: 1px solid rgba(117, 0, 0, 0.192);
    color: #C80000;
}

.footbar div {
    display: flex;
    align-items: center;
}

.contactIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0.7rem;
    width: 8rem;
}

.contactIcons a {
    display: flex;
    /* flex: 1; */
    height: 1.5rem;
}

@media screen and (max-width: 520px) {
    .hide {
        display: none;
    }

}
