.theater-image {
    display: flex;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.theater-image img {
	max-width: 100%;
    height: auto;
    max-height: calc(100vh - 2rem);
	object-fit: contain;
    border-radius: 1rem;
}
