.timer-info {
	display: flex;
	justify-content: space-around;
	padding: 0.5rem;
	background-color: inherit;
	align-items: flex-end;
}

.timer-info .text {
	font-size: 1.5rem;
	color: white;
	margin: 0;
	user-select: none;
	min-width: 8rem;
	text-align: center;
}

.fade {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
	animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-in {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 580px) {
	.timer-info {
		flex-direction: column;
		align-items: center;
	}
	.timer-info .text {
		font-size: 1.2rem;
	}

	.text {
		padding-top: 0.15rem;
	}
}
