.timer-info {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: inherit;
    align-items: flex-end;

}

.timer-info p {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    user-select: none;
}
