.container {
	width: 100vw;
	height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 0 0 0;
}

:root {
	--main-color: #c80000;
	--secondary-color: #ffd700;
}
