.collection-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.8rem;
    justify-content: center;

    margin: 1rem;
}

.visibility-options {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.main-links {
    display: flex;
    align-content: center;
}

.page-container {
    display: flex;
}
